/* Global Styles */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'MS UI Gothic', Arial, sans-serif;
  color: #000;
  background: #fff;
  scroll-behavior: smooth;
  height: 100%;
  min-height: 100vh;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#root, #__next {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.status-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.status-dot.ready {
  background-color: green;
}

.status-dot.not-ready {
  background-color: red;
}

.status-dot.partial {
  background-color: yellow;
}

.status-dot.removed {
  background-color: black;
}

.status-dot.complete {
  background-color: white;
  border: 1px solid black;
}

.swapContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.swapBox {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 10px;
  width: 28em;
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.swapBox p {
  margin: 0.5em 0;
}

.swapContent {
  flex-grow: 1;
}

.swapActions {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.button, .modal button {
  margin-top: 1em;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.5em 1em;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover, .modal button:hover {
  background-color: #555;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.main-content {
  flex: 1;
  width: 100%;
}

.main-content {
  border-radius: 10px;
  margin: 2em 0;
  background-color: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 2em;
}

/* Guide Styles */
.guide {
  margin: 0 auto;
  width: 55em;
  padding: 1em 0;
}

/* Modal Styles */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  text-align: center;
  animation: expandOut 0.3s ease-out;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.guide-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.guide-left,
.guide-right {
  margin-bottom: 1em;
}

/* Input Box Styles */
input[type="text"], select {
  width: 50%;
  padding: 1em;
  font-family: 'MS UI Gothic', Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

input[type="text"]:focus, select:focus {
  border-color: #555;
  outline: none;
}

/* Toggle Button Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2em 0 0 0;
}

.title h1 {
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
}

.navList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navItem {
  margin-left: 1em;
  margin-right: 1em;
}

.toggle {
  text-align: center;
  margin: 1em 0;
}

.toggleButtons {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.toggle-button {
  background: none;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  font-family: 'MS UI Gothic', Arial, sans-serif;
  opacity: 0.5;
  transition: color 0.3s;
}

.toggle-button.active {
  opacity: 1;
  font-weight: bold;
  text-decoration: underline;
}

.toggle-button:hover {
  color: #555;
}

/* Animations */
@keyframes expandOut {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Responsive Styles */
@media only screen and (max-width: 1024px) {
  .guide-grid {
    grid-template-columns: 1fr;
    gap: 2em;
  }

  .guide {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .guide-grid {
    grid-template-columns: 1fr;
    gap: 1em;
  }

  .guide {
    width: 90%;
    padding: 0.5em;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .navItem {
    margin: 1em;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navItem {
    margin: 0.5em 0;
  }
}

@media only screen and (max-width: 480px) {
  .header, .navbar, .guide-grid {
    flex-direction: column;
    align-items: center;
  }

  .title h1 {
    font-size: 1.5em;
  }

  .guide {
    margin: 0em;
    padding: 1em;
  }

  .button button,
  .modal button {
    height: 4em;
  }

  .guide,
  input[type="text"] {
    width: 100%;
  }

  .navItem {
    margin: 0.5em 0;
  }
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 5px;
  background-color: #f7f7f7;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 6px;
}